/Banco.class
/BubleeSort.class
/Comparacao.class
/Media.class
/Par.class
/Programa.class
/ProgramaOrdenacao$ordenecao.class
/ProgramaOrdenacao.class
/SelecteSort.class
/Somar.class
/Unicode.class
/Volta.class
